<config basePackage="jcrapi2" package="jcrapi2.model">
    <for type="CLASS">
        <template id="PojoClass" name="lombok-json-pojo.vm" suffix=".java"/>
        <template id="PojoTest" name="lombok-test-pojo-unit5.vm" suffix="Test.java" test="true"/>
    </for>
    <for type="ENUM">
        <template id="EnumClass" name="enum.vm" suffix=".java"/>
        <template id="EnumTest" name="test-enum.vm" suffix="Test.java" test="true"/>
    </for>
</config>
