<?xml version="1.0" encoding="UTF-8" ?>
<model version="4.0.11">
    <stereotype name="model"/>
    {{#models}}
    {{#model}}
    <entity name="{{classname}}" scope="model">
    </entity>
    {{/model}}
    {{/models}}
</model>
