<?xml version="1.0" encoding="utf-8"?>
<!-- foo -->
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="http://{{hostname}}/{{soapPath}}/{{serviceName}}/model" xmlns:wsdl="http://{{hostname}}/{{soapPath}}/{{serviceName}}/service" targetNamespace="http://{{hostname}}/{{soapPath}}/{{serviceName}}/service" xmlns="http://schemas.xmlsoap.org/wsdl/">
</definitions>