/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
package $package;

import com.google.gson.annotations.SerializedName;

import java.util.ArrayList;
import java.util.List;
import javax.annotation.Generated;
#if(!$extends.startsWith("map(") && !$extends.startsWith("list("))

import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
#end

#if($field.deprecated)
@Deprecated
#end
@Generated("org.mili.generator")
#if(!$extends.startsWith("map(") && !$extends.startsWith("list("))
@Getter
@Setter
@ToString
#end
public class $classname #if($extends)extends ${Utils.getJavaImplType($extends)} #end{
#foreach( $const in $constlist )

  #if($field.deprecated)
  @Deprecated
  #end
  public static final $const.type $const.name =#if($const.prefix) $const.value +#end #if($const.type == "String")"$const.value"#else$const.value#end;
#end

#foreach( $field in $fieldlist )
  #if($field.deprecated)
  @Deprecated
  #end
  @SerializedName("${Utils.getNameOrAlias($field)}")
  private ${Utils.getJavaType($field.type)} ${Utils.getJavaName($field.name)};

#end
}